$backgroundColor: #7952b3;
$fontColor:#430d59;
$hoverColor:rgb(116, 74, 132);
$normalBtn: rgb(182,30,150);

html,
body {
    width: 100%;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
main {
    width: 70%;
    float: left;
}
aside {
    width: 30%;
    float: right;
}
@media (max-width: 992px) {
    aside{
        visibility: hidden;
    }
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
    color-scheme: dark;
    }
    body {
    color: white;
    background: black;
    }
}

.bd-navbar{
    margin-bottom: 1rem;
    padding: 0.75rem 0;
    background-color: $backgroundColor!important;

    .container-fluid{
        display: flex; 
    }
    .nav-link {
        color: $fontColor!important;
    }
    .nav-link:hover {
        color: $hoverColor!important;
    }
    .nav-item {
        padding: 0.2rem;
        margin: 0.2rem;
        border-style: solid!important;
        border:  0.1rem;
        border-radius: 10%;
        border-color: $hoverColor;
    }
    .nav-item:hover{
        background-color: $fontColor;
    }

    .d-flex{
        margin-top: 1rem;
    }
    @media (max-width: 992px) {
        .vr{
            visibility: hidden;
        }
        .nav-item {
            padding: 0.5rem 1rem;
            border-style: none!important;
        }
    }
}

.navbar-brand{
    color:$fontColor!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}
.navbar-light .navbar-toggler{
    color: $fontColor!important;
    border-color: $fontColor!important;
    margin-bottom: 1rem;
}
.btn{
    color: $fontColor!important;
    border-color: $fontColor!important;
}
.btn:hover{
    color: $fontColor!important;
    border-color: $fontColor!important;
    background-color: $hoverColor!important;
}

// .container {
//     width: 100vw;
//     padding: 0 0.5rem;
//     display:flex;    
// }

// .main {
//     width: 100vw;
//     min-height: 100vh;
//     padding: 4rem 0;
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
    width: 100%;
    flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
    border-color: #222;
    }
    .code {
    background: #111;
    }
    .logo img {
    filter: invert(1);
    }
}
